{
  "http_interactions": [
    {
      "recorded_at": "2016-06-19T20:27:58",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"WlbqUCMDinklXWcXaK_r1K8vOus\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-06-19T20:27:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer WlbqUCMDinklXWcXaK_r1K8vOus"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/redditdev/new?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"kbo.tw\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": null, \"selftext\": \"\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4ov0vy\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"Puipuibi\", \"media\": null, \"score\": 1, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 0, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2qizd\", \"hide_score\": true, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": false, \"from_id\": null, \"permalink\": \"/r/redditdev/comments/4ov0vy/\\u5feb\\u770b\\u9019\\u4f4d\\u56db\\u773c\\u4ed4\\u771f\\u7684\\u5f88\\u8b8a\\u614b\\u6ce8\\u610f\\u4ed6\\u5230\\u5e95\\u4e7e\\u4e86\\u4ec0\\u9ebc\\u597d\\u4e8b\\u9694\\u58c1\\u5973\\u5b50\\u7684\\u8868\\u60c5\\u597d\\u7121\\u5948\\u554a/\", \"locked\": false, \"name\": \"t3_4ov0vy\", \"created\": 1466396810.0, \"url\": \"http://kbo.tw/fI3U\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"\\u5feb\\u770b\\u3010\\u9019\\u4f4d\\u56db\\u773c\\u4ed4\\u771f\\u7684\\u5f88\\u8b8a\\u614b\\u3011\\u6ce8\\u610f\\u4ed6\\u5230\\u5e95\\u4e7e\\u4e86\\u4ec0\\u9ebc\\u597d\\u4e8b\\uff1f\\u9694\\u58c1\\u5973\\u5b50\\u7684\\u8868\\u60c5\\u597d\\u7121\\u5948\\u554a\\uff01\", \"created_utc\": 1466368010.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 1}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EI was recently made aware of an interesting dynamic: subreddits which are blocked by a large number of users may find it easier to hit the front page, as their content is not seen by these users and is therefore not subject to their downvotes.\\u003C/p\\u003E\\n\[...]
