{
  "http_interactions": [
    {
      "recorded_at": "2016-06-19T20:27:59",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"YE4ESXZ9lTjIP0ukcopwXM6361g\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-06-19T20:28:01",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer YE4ESXZ9lTjIP0ukcopwXM6361g"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/redditdev/top?t=all&limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003ENearly 1 year ago we \\u003Ca href=\\\"http://www.redditblog.com/2014/09/hell-its-about-time-reddit-now-supports.html\\\"\\u003Egave you the ability to view reddit completely over SSL\\u003C/a\\u003E. Now we\\u0026#39;re ready to enforce that everyone use a secure connection with reddit.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EPlease ensure that all of your scripts can perform all of their functions over HTTPS by June 29.\\u003C/strong\\u003E At this time we will begin redirecting all site traffic to be over HTTPS and HTTP will no longer be available.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIf this will be a problem for you, please let us know immediately.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003E\\u003Cstrong\\u003EEDIT\\u003C/strong\\u003E 2015-08-21: IT IS DONE. You also have HSTS too.\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"Nearly 1 year ago we [gave you the ability to view reddit completely over SSL](http://www.redditblog.com/2014/09/hell-its-about-time-reddit-now-supports.html). Now we're ready to enforce that everyone use a secure connection with reddit.\\n\\n**Please ensure that all of your scripts can perform all of their functions over HTTPS by June 29.** At this time we will begin redirecting all site traffic to be over HTTPS and HTTP will no longer be available.\\n\\nIf this will be a problem for you, please let us know immediately.\\n\\n**EDIT** 2015-08-21: IT IS DONE. You also have HSTS too.\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"39zje0\", \"from_kind\": null, \"gilded\": 0, \"archived\": true, \"clicked\": false, \"report_reasons\": null, \"author\": \"rram\", \"media\": null, \"score\": 260, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 121, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2qizd\", \"hide_score\": false, \"edited\": 1440173665.0, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": true, \"from_id\": null, \"permalink\": \"/r/redditdev/comments/39zje0/reddit_will_soon_only_be_available_over_https/\", \"locked\": false, \"name\": \"t3_39zje0\", \"created\": 1434447340.0, \"url\": \"https://www.reddit.com/r/redditdev/comments/39zje0/reddit_will_soon_only_be_available_over_https/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"reddit will soon only be available over HTTPS\", \"created_utc\": 1434418540.0, \"distinguished\": \"admin\", \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 260}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EAs promised, here is the big dump of voting information that you guys\\n\\u003Ca href=\\\"http://reddit.com/ddz0s\\\"\\u003Edonated to research\\u003C/a\\u003E. Warning: this contains\\nmuch geekery that may \\u003Ca href=\\\"http://www.flickr.com/photos/338094[...]
    {
      "recorded_at": "2016-06-19T20:28:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer YE4ESXZ9lTjIP0ukcopwXM6361g"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/redditdev/top?t=all&limit=1024&after=t3_16bh8j&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"[...]
    {
      "recorded_at": "2016-06-19T20:28:04",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer YE4ESXZ9lTjIP0ukcopwXM6361g"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/redditdev/top?t=all&limit=1024&after=t3_3kidb7&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"[...]
