{
  "http_interactions": [
    {
      "recorded_at": "2016-06-19T22:37:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"fIfk2O93a5hlbFVYNa0gBGX0--A\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-06-19T22:37:13",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer fIfk2O93a5hlbFVYNa0gBGX0--A"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/comments/10agf2/?sort=best&limit=2048&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "[{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.bboe\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"bboe\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Ctable\\u003E\\u003Cthead\\u003E\\n\\u003Ctr\\u003E\\n\\u003Cth align=\\\"center\\\"\\u003E\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003ESubmissions\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003E%\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003EComments\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003E%\\u003C/th\\u003E\\n\\u003C/tr\\u003E\\n\\u003C/thead\\u003E\\u003Ctbody\\u003E\\n\\u003Ctr\\u[...]
