{
  "http_interactions": [
    {
      "recorded_at": "2016-06-19T23:31:43",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"ZgNgx59qhuLtHcRnFN3fS4R1uns\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-06-19T23:31:44",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer ZgNgx59qhuLtHcRnFN3fS4R1uns"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/reddit_api_test/new?limit=1024&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.reddit_api_test\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"reddit_api_test\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EPeriod: 19.25 days\\u003C/p\\u003E\\n\\n\\u003Ctable\\u003E\\u003Cthead\\u003E\\n\\u003Ctr\\u003E\\n\\u003Cth align=\\\"center\\\"\\u003E\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003ESubmissions\\u003C/th\\u003E\\n\\u003Cth align=\\\"right\\\"\\u003EComments\\u003C/th\\u003E\\n\\u003C/tr\\u003E\\n\\u003C/thead\\u003E\\u003Ctbody\\u003E\\n\\u003Ctr\\u003E\\n\\u003Ctd align=\\\"center\\\"\\u003E\\u003Cstrong\\[...]
