{
  "http_interactions": [
    {
      "recorded_at": "2016-07-27T15:44:47",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=<PASSWORD>&username=<USERNAME>"
        },
        "headers": {
          "Authorization": "Basic <BASIC_AUTH>",
          "Content-Type": "application/x-www-form-urlencoded"
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"SEemGYK4e4WSBpjE3K0XZW1fSkA\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": "application/json; charset=UTF-8",
          "X-Moose": "majestic"
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2016-07-27T15:44:48",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": "bearer SEemGYK4e4WSBpjE3K0XZW1fSkA"
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/r/redditdev/top?raw_json=1&limit=1024&t=week"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EThis is post is what it says in the title, is there any w ay to create a new reddit user via Praw or via the Reddit API in general?\\u003C/p\\u003E\\n\\u003C/div\\u003E\\u003C!-- SC_ON --\\u003E\", \"selftext\": \"This is post is what it says in the title, is there any w ay to create a new reddit user via Praw or via the Reddit API in general?\", \"likes\": null, \"suggested_sort\": null, \"user_reports\": [], \"secure_media\": null, \"link_flair_text\": null, \"id\": \"4u9qr0\", \"from_kind\": null, \"gilded\": 0, \"archived\": false, \"clicked\": false, \"report_reasons\": null, \"author\": \"FlammableMarshmallow\", \"media\": null, \"score\": 3, \"approved_by\": null, \"over_18\": false, \"hidden\": false, \"num_comments\": 5, \"thumbnail\": \"\", \"subreddit_id\": \"t5_2qizd\", \"hide_score\": false, \"edited\": false, \"link_flair_css_class\": null, \"author_flair_css_class\": null, \"downs\": 0, \"secure_media_embed\": {}, \"saved\": false, \"removal_reason\": null, \"stickied\": false, \"from\": null, \"is_self\": true, \"from_id\": null, \"permalink\": \"/r/redditdev/comments/4u9qr0/praw3_create_a_new_reddit_user/\", \"locked\": false, \"name\": \"t3_4u9qr0\", \"created\": 1469331882.0, \"url\": \"https://www.reddit.com/r/redditdev/comments/4u9qr0/praw3_create_a_new_reddit_user/\", \"author_flair_text\": null, \"quarantine\": false, \"title\": \"[PRAW3] Create a new reddit user?\", \"created_utc\": 1469303082.0, \"distinguished\": null, \"mod_reports\": [], \"visited\": false, \"num_reports\": null, \"ups\": 3}}, {\"kind\": \"t3\", \"data\": {\"domain\": \"self.redditdev\", \"banned_by\": null, \"media_embed\": {}, \"subreddit\": \"redditdev\", \"selftext_html\": \"\\u003C!-- SC_OFF --\\u003E\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003EIs it okay to use Snoo in Reddit App? Does it violate copyright? \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EI couldn\\u0026#39;t find any relevant doc for the same. If you could point it out, that would be great. \\u003C/p\\u003E\\n\\n\\u003Cp\\u003EMany Thanks :)\\u00[...]
